html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

*,
:before,
:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14pt;
  margin: 0;
}

.theme {
  --s0:12pt;
  --s1:14pt;
  --s2:52pt;
  --light:#fff;
  --dark:#1f1f1f;
  --dark18:#2e2e2e;
  --grey:#f8f8f8;
  --c1:#f6eb41;
  --c2:#464343;
  --c3:blue;
  --pad:20px 46px;
  background: var(--light);
  color: var(--dark);
}

@media only screen and (max-width: 600px) {
  .theme {
    --s2:36pt;
  }
}

@media only screen and (max-width: 600px) {
  .theme {
    --pad:12px;
  }
}

.theme nav {
  position: fixed;
  left: 5vw;
  bottom: 60vh;
}

@media only screen and (max-width: 600px) {
  .theme nav {
    left: 0;
    right: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    bottom: 0;
    background-color: var(--c1);
    border-top: 1pt solid var(--dark);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.theme nav a {
  display: block;
  padding: 12px;
  color: var(--dark);
  font-size: 16pt;
}

.theme nav a:focus {
  background-color: var(--c1);
}

.theme nav a.active {
  color: var(--c1);
}

@media only screen and (max-width: 600px) {
  .theme nav a {
    padding: 20px;
  }
  .theme nav a.active {
    color: var(--c3);
  }
}

.theme > div {
  width: 100vw;
  height: 100vh;
  padding: 4vh 4vw;
}

.theme > div .bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-height: 658px;
  margin-left: auto;
  width: 70vw;
  height: 92vh;
  background: var(--c1);
}

@media only screen and (max-width: 600px) {
  .theme > div .bg {
    width: 84vw;
  }
}

.theme > div .bg .h1 {
  padding-top: 32px;
  margin-left: -82px;
  font-size: var(--s2);
  font-weight: bold;
  color: var(--dark);
  font-family: 'Playfair Display', serif;
}

@media only screen and (max-width: 600px) {
  .theme > div .bg .h1 {
    margin-left: -26px;
    padding-top: 0px;
  }
}

.theme > div .bg #objectif {
  width: 70%;
  padding: var(--pad);
}

@media only screen and (max-width: 600px) {
  .theme > div .bg #objectif {
    width: 80vw;
    position: relative;
    top: 0px;
    left: 0vw;
  }
}

.theme > div .bg #contact {
  font-size: 12pt;
  padding: var(--pad);
  margin-top: auto;
  line-height: 17pt;
}

@media only screen and (max-width: 600px) {
  .theme > div .bg #contact {
    width: 100vw;
    position: relative;
    top: 0px;
    margin-top: 0;
  }
}

.theme > div .bg #contact ul {
  padding: 0px;
  list-style: none;
}

.theme #projects {
  border-left: 1pt solid var(--c1);
  margin-left: auto;
  margin-bottom: 80px;
  height: auto;
  width: 70vw;
}

@media only screen and (max-width: 600px) {
  .theme #projects {
    width: 90vw;
  }
}

.theme #projects h1 {
  font-size: 28pt;
  font-weight: bold;
  color: var(--dark);
  font-family: 'Playfair Display', serif;
}

.theme #projects a {
  color: var(--c2);
}

.theme #projects a.active {
  color: var(--dark);
}

.theme #projects h4 {
  padding: 12px 26px;
  margin: 0;
  font-weight: normal;
  cursor: pointer;
}

.theme #projects h4:hover {
  background-color: var(--c1);
}
/*# sourceMappingURL=styles.css.map */