html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}
*,
:before,
:after {
          box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    font-size: 14pt;
    margin: 0;

}
.theme{
    --s0:12pt;$s0:var(--s0);
    --s1:14pt;$s1:var(--s1);
    --s2:52pt;$s2:var(--s2);
    @media only screen and (max-width: 600px) {
        --s2:36pt;
            
                }
    --light:#fff;$light :var(--light);
    --dark:#1f1f1f; $dark :var(--dark);
    --dark18:#2e2e2e;$dark18:var(--dark18);
    --grey:#f8f8f8;    $grey :var(--grey);
    --c1:#f6eb41;    $c1 :var(--c1);
    --c2:#464343;    $c2 :var(--c2);
    --c3:blue;    $c3 :var(--c3);
    --pad:20px 46px;    $pad:var(--pad);
    @media only screen and (max-width: 600px) {
    
            --pad:12px;
                }
    /////////////////////
    background: $light;
    color: $dark;
    nav{
     position: fixed;
     left:5vw;
     bottom: 60vh;
     @media only screen and (max-width: 600px) {
        left: 0;right: 0;
        display: flex;
        bottom: 0;
        background-color: $c1;
        border-top:1pt solid $dark;
        justify-content: center;

                }
     a{
        display: block;padding: 12px;
        //text-decoration: none;
        color:$dark;
        font-size: 16pt;


        &:focus{
        background-color:$c1;

        }
        &.active{
            color: $c1;
        }
             @media only screen and (max-width: 600px) {
         padding: 20px;
         &.active{
            color: $c3;
        }
     }
     }
    }
    >div{
    
        width: 100vw;
        //height: 100vh;
        padding:4vh 4vw;

    
        .bg{
        display:flex;flex-direction: column;max-height:658px ;
        margin-left: auto;
        width: 70vw;
        //height: 92vh;
            @media only screen and (max-width: 600px) {
        width: 84vw;

            }
                background:$c1;

        .h1{
            padding-top: 32px;
            margin-left: -82px;
            @media only screen and (max-width: 600px) {
                margin-left: -26px;
            padding-top: 0px;
                    
                        }
            font-size: $s2;
            font-weight: bold;
            color:$dark;
            font-family: 'Playfair Display', serif;


        }
        #objectif{
            width: 70%;
            padding: $pad;
            @media only screen and (max-width: 600px) {
                
                width: 80vw;
                position: relative;
                top:0px;
                left:0vw;
                        }
            p{
            
            }

        }
        #contact{
            font-size: 12pt;
            padding: $pad;
            margin-top:auto;
            line-height: 17pt;
            @media only screen and (max-width: 600px) {
            
                width: 100vw;
                position: relative;
                top:0px;
            margin-top:0;
                        }
            ul{
                padding: 0px;
                list-style: none;
                 }
           
        }
        }

    } 
    #projects{
        border-left: 1pt solid $c1;
        margin-left: auto;margin-bottom: 80px;
            height:auto;
            width: 70vw;
            @media only screen and (max-width: 600px) {
                width: 90vw;
            }
            
        >div{
        }
        h1{
            font-size: 28pt;
            font-weight: bold;
            color:$dark;
            font-family: 'Playfair Display', serif;
        }
        a{
        
            //text-decoration: none;
            color:$c2;
            

            &.active{
                color: $dark;
            }
         }
        h4{
            padding:12px 26px;margin:0;
            font-weight: normal;
            cursor: pointer;
            &:hover{
                background-color: $c1;
            }
        }
    }   



}
    
